/*TABLES*/
table
{
border-collapse:collapse;
}
table,th, td
{
border: 1px solid black;
}

table 
{
width:100%;
}
th
{
height:50px;
}

td
{
height:50px;
vertical-align:bottom;
}

td
{
padding:15px;
}

table, td, th
{
border:1px solid green;
}
th
{
background-color:green;
color:white;
}

/*Headers*/
h1,h2,h3,h4
{
font-family: sans-serif;	
}

.number{size = "60";}

