/*body*/
body {
	font-family: sans-serif;	
	color: #577c85;
}

/*TABLES*/
table 
{
width:100%;
}

th {
	font-family: sans-serif;
	color: #577c85;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px;
}

td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #577c85;
}
table, td, th
{
border-collapse: collapse;
}


/*Headers*/
h1,h2,h3,h4
{
font-family: sans-serif;	
color: #577c85;
}

/*Links*/
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

/*lists*/
ul {
	list-style-position: inherit;
	padding-left: 1em;
	margin-bottom: .5em;
}


/*FORMS*/
input[type="text"] {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	margin-bottom: 1em

}

label {
	display: block;
}

textarea {
	height: auto;
	width: 50%;
	height: 30px;
	margin-bottom: 1em
}

fieldset {
	border: none;
}

legend {
	display: none;
}

/*BUTTONS*/
.actions {
	padding-top: 1.2em;
}


.add_button {
	-moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background: -moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color: #79bbff;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #84bbf3;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	font-size: 15px;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #528ecc;
}

.sign_up_button {
	-moz-box-shadow: inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
	box-shadow: inset 0px 1px 0px 0px #caefab;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background: -moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color: #77d42a;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #268a16;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	font-size: 15px;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #aade7c;
}
.delete_button {
	-moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
	box-shadow: inset 0px 1px 0px 0px #f5978e;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background: -moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color: #f24537;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #d02718;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	font-size: 15px;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #810e05;
}

.checkbox {
}

/*errors*/
.alert_error {
	color: red;
}