<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title> Edit product </title>
  <link rel="stylesheet href="/assets/stylesheets/application.css">
</head>
<body>
<h1>Edit Product</h1>

<%= render 'form' %>

<%= link_to 'View', @product %> |
<%= link_to 'Back to the product index', products_path %>
</body>
</html>