<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title> New Product </title>
   <link rel="stylesheet href="/assets/stylesheets/application.css">
 </head>
 <body>

<h1>New product</h1>

<%= render 'form' %>

<%= link_to 'Back to the product index', products_path %>
</body>
</html>
